h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a {
  font-size: 16px;
}

ol {
  padding-left: 16px;
}

menu {
  float   : left;
  position: relative;
}

footer {
  position        : fixed;
  bottom          : 0;
  text-align      : center;
  padding         : 15px 0 15px 0;
  width           : 100%;
  background-color: white;
}

.master-page .main {
  padding-bottom: 20px;
}

.index .main > menu {
  display: none;
}

article menu {
  margin : 0;
  padding: 0;
}